language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"

before_install:
 - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install -U importlib_metadata; fi

# command to install dependencies
install:
  - pip install -r requirements.txt

# command to run tests
script:
  - python setup.py sdist bdist_wheel